 
  .about-us-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Vision & Mission Section */
  .vision-mission-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .vision-mission-content {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Projects Section */
  #projects {
    padding: 50px;
  }
  
  .project-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  